.hlavicka {
    background-color: var(--barva-zahlavi);
}

.hlavicka__logo {
    margin: 0;
    display: flex;
}

.hlavicka__obsah {
    max-width: 52rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}