.hvezdy {
    --skore: 0;
    width: 7.5rem;
    height: 1.5rem;
    display: flex;
}

.hvezdy--skore-1 {
    --skore: 1;
}

.hvezdy--skore-2 {
    --skore: 2;
}

.hvezdy--skore-3 {
    --skore: 3;
}

.hvezdy--skore-4 {
    --skore: 4;
}

.hvezdy--skore-5 {
    --skore: 5;
}

.hvezdy::before,
.hvezdy::after {
    content: "";
    background-image: url(/obrazky/hvezda-vyplnena.svg);
    background-size: contain;
    flex-grow: var(--skore);
}

.hvezdy::after {
    background-image: url(/obrazky/hvezda-prazdna.svg);
    flex-grow: calc(5 - var(--skore));
}