.seznam {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.seznam__pol {
    padding: 0.2em 0;
    line-height: 1.1;
}

.seznam__odk {
    color: $doplnkova-barva;
    text-decoration: none;
}

.seznam a:hover,
.seznam a:focus {
    font-weight: bold;
    color: $hlavni-barva;
}


/* odrážky čtverečky*/

.seznam__odk::before {
    content: "";
    margin-bottom: 0.1em;
    width: 0.6em;
    height: 0.6em;
    background-color: $hlavni-barva;
    border-bottom: 0.2em solid $doplnkova-barva;
    border-left: 0.2em solid $doplnkova-barva;
    display: inline-block;
    margin-right: 0.5em;
}