<div classs="rozlozeni__hlavicka">
<header class="hlavicka">
    <div class="hlavicka__obsah">
	    <h1 class="hlavicka__logo">
        zde ne/vidím záhlaví
        <a href="/"><img src="/obrazky/logo.svg" width="214" height="32" alt="logo"></a>
        </h1>
    </div>
</header>
</div>

