<div class="rozlozeni__paticka">
    <footer class="paticka">
        <div class="paticka__cela">
            <div class="paticka__casti">

                <section class="paticka__cast">
                    <h2 class="paticka__nadp">Podobné weby</h2>
                    <ul class="paticka__szn">

                        <li class="paticka__pol">
                            <a class="paticka__odk" href="https://www.csfd.cz/">ČSFD.cz</a></li>

                        <li class="paticka__pol">
                            <a class="paticka__odk" href="https://www.imdb.com/">IMDb</a></li>

                        <li class="paticka__pol">
                            <a class="paticka__odk" href="https://filmtoro.cz/">Filmtoro</a></li>

                        <li class="paticka__pol">
                            <a class="paticka__odk" href="https://www.rottentomatoes.com/">Rotten Tomatoes</a></li>
                    </ul>
                </section>

                <section class="paticka__cast">
                    <h2 class="paticka__nadp">Obecné</h2>
                    <ul class="paticka__szn">

                        <li class="paticka__pol">
                            <a class="paticka__odk" href="/puvod-dat/">Původ dat</a></li>

                        <li class="paticka__pol">
                            <a class="paticka__odk" href="https://www.11ty.dev/">Eleventy dokumentace</a></li>

                        <li class="paticka__pol">
                            <a class="paticka__odk" href="https://github.com/Czechitas-podklady-WEB/Cviceni-Eleventy-filmy">Zadání cvičení</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </footer>
</div>