<!DOCTYPE html>
<html lang="cz">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FILMY.cz</title>
    <link rel="shortcut icon" href="/obrazky/favicon.svg"/>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
  <div class="rozlozeni">
    {% include "hlavicka.njk" %} 
    {{ content | safe }} 
    {% include "paticka.njk" %}
    </div>
</body>

</html>