<!DOCTYPE html>
<html lang="cz">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FILMY.cz</title>
    <link rel="shortcut icon" href="/obrazky/favicon.svg"/>
    <link rel="stylesheet" href="/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WX6XSMHKXG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WX6XSMHKXG');
</script>
</head>

<body>
  <div class="rozlozeni">
    {% include "hlavicka.njk" %} 
    {{ content | safe }} 
    {% include "paticka.njk" %}
    </div>
</body>

</html>