html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --barva-zahlavi: #9c27b0;
    --barva-paticka: #fafafa;
    --barva-paticka-nadp: #303030;
    --barva-paticka-odk: #444444;
    --barva-text: black;
    --barva-seznam: #3d5afe;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    min-height: 100vh;
}

.rozlozeni {
    display: grid;
    grid-template-rows: auto 1fr auto;
}


/*tyto styly rozhodit na části*/

.rozlozeni__telo {
    max-width: 52rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.hlavni-nadp {
    margin: 0 0 0.5em;
    font-size: 2rem;
}