---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: "/film/{{ film.nazev | slug }}/"
---
<div class="rozlozeni__telo">
  <div class="detail">
    <h2 class="hlavni-nadp">{{ film.nazev }}</h2>
    <dl class=detail-mrizka>
      <dt class=detail-inf>Rok:</dt><dd>{{ film.rok }}</dd>
      <dt class=detail-inf>Země:</dt><dd>{{ film.zeme | join(", ")}}</dd>
      <dt class=detail-inf>Žánr:</dt><dd>{{ film.zanr | join(" / ")}}</dd>
      <dt class=detail-inf>Délka:</dt><dd>{{ film.delka }} minut</dd>
    </dl>
    <h3 class="pod-nadpis">Obsah</h3>
  <div>{{ film.obsah.text }}
  
{% if film.obsah.autor.odkaz|length > 0  %}
  (<a class="autor__odkaz" href="{{ film.obsah.autor.odkaz }}">{{ film.obsah.autor.jmeno }}</a>)
{% else %}
<span class="autor__ne-odkaz">({{ film.obsah.autor.jmeno }})</span>
{% endif %}

  </div>
</div>
</div>
